@model DndDmWebApp.ViewModels.CharacterViewModels.CharacterIndexViewModel
<div class="row">
    <h1>Characters</h1>
</div>
<div class="row">
    <p>Edit an existing character or <a asp-action="Create" asp-controller="Character">create a new character.</a></p>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <td class="table-no-wrap">
                    <label asp-for="Characters.FirstOrDefault().Name"></label>
                </td>
                <td class="table-no-wrap">
                    <label asp-for="Characters.FirstOrDefault().Level"></label>
                </td>
                <td>
                    <label asp-for="Characters.FirstOrDefault().Description"></label>
                </td>
                <td class="table-no-wrap">
                    <label asp-for="Characters.FirstOrDefault().Race"></label>
                </td>
                <td class="table-no-wrap">
                    <label asp-for="Characters.FirstOrDefault().Class"></label>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Characters)
            {
                <tr>
                    <td class="table-no-wrap">
                        @item.Name
                    </td>
                    <td class="table-no-wrap">
                        @item.Level
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td class="table-no-wrap">
                        @item.Race.Name
                    </td>
                    <td class="table-no-wrap">
                        @item.Class.Name
                    </td>
                    <td class="table-no-wrap">
                        <a asp-action="Edit" asp-controller="Character" asp-route-id="@item.ID">Edit</a>
                        &nbsp;|&nbsp;
                        <a id="delete" data-id="@item.ID" onclick="return js_enabled(this)" asp-action="Delete" asp-controller="Character" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        js_enabled = function (e) {
            var confirmation = confirm("This will permamently remove the character!\nAre you sure?")
            if (confirmation) {
                var id = $(e).data("id");
                var data = { "id" : id };
                $.ajax({
                    url: "@Url.Action("AsyncDelete", "Character")",
                    data: data,
                    method: "POST",
                    success: function() {
                        var eleToRemove = e.parentNode.parentNode;
                        eleToRemove.parentNode.removeChild(eleToRemove);
                    },
                    error: function (xhr, textStatus, error) {
                        console.log(xhr.statusText);
                        console.log(textStatus);
                        console.log(error);
                        alert("Error - see console for details");
                    }
                });
            };

            return false;
        }
    </script>
}